
/* Global */

body{
    background-image: url(../IMG/background_1.png);
    background-size: 100%, cover;
    background-repeat: no-repeat;
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.wrapper{
    width: 1028px;
    margin: 0 auto;
}

/* Header */

.header-menu{
    margin-top: 46px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-text{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    left: 61px;
    top: 4px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFFFFF;
    justify-content: center;
    position: absolute;
}

.logo-text>span:last-child{
    font-size: 18px;
    line-height: 18px;
}

.logo-block{
    display: flex;
    flex-direction: row;
    position: relative;
}

.logo-img img{
    width: 53px;
    height: 47px;
}

.hover-logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo-block:hover .logo-text{
    color: #F26522;
}

.logo-block:hover .main-logo{
   opacity: 0;
}

.mail a, .phone a {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.mail{
    margin-bottom: 19px;
}

.mail :hover{
    color: #F26522;
}

.phone :hover{
    color: #F26522;
}

.contact-block{
    text-align: end;
}

/* Main */

.tours{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    column-gap: 62px;
    margin-bottom: 48px;
}

.tour{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-tour{
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
}

img{
    width: 100%;
    object-fit: cover;
}

.tour1{
    position: relative;
}

.hover-block{
    width: 300px;
    height: 55px;
    background: #F26522;
    position: absolute;
    top: 165px;
    opacity: 0;
    transition: bottom 1s, ease-out 0.5s;
}

.details::after{
    content: url(/IMG/Vector_1.png);
    width: 5px;
    height: 10px;
    padding-left: 16px;

}

.from{
    display: block;
    font-size: 10px;
    line-height: 10px;
    margin-top: 7px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.price{
    margin-left: 16px;
    margin-right: 128px;
}

.tour:hover .title-tour{
    color: #F26522;
}

.tour:hover .hover-block{
    opacity: 1;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
}
footer>span{
    font-size: 12px;
    line-height: 12px;
}


